.filter-container {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.filter-container form {
  display: inline-block;
  margin: 0 10px;
}

.filter-container label {
  font-weight: bold;
  margin-right: 10px;
  text-align: center;
}

.filter-container select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.classes-table-container {
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.classes-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.classes-table th,
.classes-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.classes-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.classes-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.classes-table tr:hover {
  background-color: #f1f1f1;
}

.classes-table a {
  color: #73000a;
  text-decoration: none;
  font-weight: bold;
}

.classes-table a:hover {
  text-decoration: underline;
}