/* Basic styling for the student metrics page */
.container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.metrics-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.metrics-table th, .metrics-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.metrics-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table-container {
    max-height: 35vh;
    overflow-y: auto;
}

#metrics_graph {
    width: 100%;
    height: 50vh;
}

.column-div {
    display: flex;
    align-items: flex-start;
    margin:20px;
    gap: 20px;
}

.left-align {
    flex: 1;
    max-width: 50%
}

.right-align {
    flex: 1;
    max-width: 50%
}

.notes_form {
    text-align:center;
}