<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'coldcall/style.css' %}">
<link rel="stylesheet" href="{% static 'coldcall/add_student_manual.css' %}">

<head>
    <meta charset="UTF-8">
    <title>Add New Student</title>
</head>
<body>

    <div class="form-container">
        <h2>Add New Student</h2>
        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" name="first_name" required>
            </div>

            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" name="last_name" required>
            </div>

            <div class="form-group">
                <label for="class_key">Class</label>
                <select id="class_key" name="class_key" required>
                    {% for class in classes %}
                        <option value="{{ class.id }}">{{ class.class_name }}</option>
                    {% endfor %}
                </select>
            </div>
        

            <div class="form-group">
                <label for="seating">Seating</label>
                <select id="seating" name="seating">
                    <option value="FR">Front Right</option>
                    <option value="FM">Front Middle</option>
                    <option value="FL">Front Left</option>
                    <option value="BR">Back Right</option>
                    <option value="BM">Back Middle</option>
                    <option value="BL">Back Left</option>
                    <option value="NA">None</option>
                </select>
            </div>

            <div class="form-group">
                <label for="total_calls">Total Calls</label>
                <input type="number" id="total_calls" name="total_calls" min="0" value="0" required>
            </div>

            <div class="form-group">
                <label for="absent_calls">Absent Calls</label>
                <input type="number" id="absent_calls" name="absent_calls" min="0" value="0" required>
            </div>

            <div class="form-group">
                <label for="total_score">Total Score</label>
                <input type="number" id="total_score" name="total_score" min="0" value="0" required>
            </div>

            <div class="form-group">
                <button type="submit">Add Student</button>
            </div>
        </form>
    </div>

</body>
</html>
