{% load static %}
<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />

{% block styles %}
<link rel="stylesheet" href="{% static 'coldcall/base.css' %}" />
{% endblock styles %}

{% block menu %}
<header>
  <nav class="main-nav">
    <a href="/" class="nav-link {% if request.path == '/' %}active{% endif %}">Home</a>
    <a href="/addcourse" class="nav-link {% if request.path == '/addcourse' %}active{% endif %}">Add Class</a>
    <a href="/addeditstudents/manual" class="nav-link {% if request.path == '/addeditstudents/manual' %}active{% endif %}">Add Students</a>
    <a href="/addstudents/import" class="nav-link {% if request.path == '/addstudents/import' %}active{% endif %}">Import From .csv</a>
    <a href="/exportclassfile" class="nav-link {% if request.path == '/exportclassfile' %}active{% endif %}">Export Class File</a>
    <a href="/manageclasses" class="nav-link {% if request.path == '/manageclasses' %}active{% endif %}">Manage Classes</a>
  </nav>
</header>
{% endblock menu %}