{% include 'coldcall/base.html' %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'coldcall/style.css' %}">
<link rel="stylesheet" href="{% static 'coldcall/export_class_file.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Export Class File</title>
</head>
<body>
    <h1>Export Class File</h1>
    <form method="post" action="{% url 'export_class_file' %}" id="export-form">
        {% csrf_token %}
        <label for="class_id">Select Class:</label>
        <select id="class_id" name="class_id">
            <option value="">-- Choose a Class --</option>
            {% for class in classes %}
                <option value="{{ class.id }}">{{ class.class_name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="export-button" id="export-simple" style="display: none;" name="export_type" value="simple">Export Students</button>
        <button type="submit" class="export-button" id="export-all" style="display: none;" name="export_type" value="all">Export Ratings</button>
    </form>

    <script>
        document.getElementById('class_id').addEventListener('change', function() {
            if (this.value !== '') {
                document.getElementById('export-simple').style.display = 'block';
                document.getElementById('export-all').style.display = 'block';

            } else {
                document.getElementById('export-simple').style.display = 'none';
                document.getElementById('export-all').style.display = 'none';
            }
        });
    </script>
</body>
</html>