{% include 'coldcall/base.html' %}
<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" href="{% static 'coldcall/style.css' %}">
<link rel="stylesheet" href="{% static 'coldcall/student_metrics.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Student Metrics - {{ student.first_name }} {{ student.last_name }}</title>
</head>
<body>

    <div class="container">
        <h1>Metrics for {{ student.first_name }} {{ student.last_name }}</h1>
        
        <!-- Student Details Table -->
        <table class="metrics-table">
            <tr>
                <th>First Name</th>
                <td>{{ student.first_name }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ student.last_name }}</td>
            </tr>
            <tr>
                <th>Class</th>
                <td>{{ student.class_key.class_name }}</td>
            </tr>
            <tr>
                <th>Seating</th>
                <td>{{ student.seating }}</td>
            </tr>
            <tr>
                <th>Total Score</th>
                <td>{{ student.total_score }} ({{student.get_average_score}} ⭐ average)</td>
            </tr>
            <tr>
                <th>Attendance</th>
                <td>{{ attendance_difference }}/{{ student.total_calls }}    ({{attendance_rate}}%)</td>
            </tr>
        </table>
        
        <p style="text-align: center; margin-top: 20px;">
            <a href="{% url 'home' %}">Back to Student List</a>
        </p>
    </div>

</body>
</html>