{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'coldcall/mobile/base.css' %}" />
{% endblock styles %}

{% block content %}
  <div class="bottom-nav">
    <a href="/" class="nav-item">
      Home
    </a>
    <a href="/manageclasses" class="nav-item">
      Manage Classes
    </a>
    <a href="/randomizer" class="nav-item">
      Coldcall
    </a>
    <a href="/profile/" class="nav-item">
      {% if user.is_authenticated and user.userdata.profile_picture %}
        <img src="{{ user.userdata.profile_picture.url }}" alt="Profile" class="profile-picture-nav">
      {% else %}
        👤
      {% endif %}
    </a>
  </div>
{% endblock content %}