{% include 'coldcall/mobile/base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'coldcall/mobile/style.css' %}">
    <link rel="stylesheet" href="{% static 'coldcall/mobile/student_metrics.css' %}">
{%endblock %}

<head>
    <meta charset="UTF-8">
    <title>Student Metrics - {{ student.first_name }} {{ student.last_name }}</title>
</head>
<body>
    <div class="column-div">
    <div class="left-align">
    <div class="container">
        <h1>Metrics for {{ student.first_name }} {{ student.last_name }}</h1>
        
        <!-- Student Details Table -->
        <table class="metrics-table">
            <tr>
                <th>Class</th>
                <td>{{ student.class_key.class_name }}</td>
            </tr>
            <tr>
                <th>Seating</th>
                <td>{{ student.get_seating_display }}</td>
            </tr>
            <tr>
                <th>Total Score</th>
                <td>{{ student.total_score }} ({{student.get_average_score}} ⭐ average)</td>
            </tr>
            <tr>
                <th>Attendance</th>
                <td>{{ attendance_difference }}/{{ student.total_calls }}    ({{attendance_rate}}%)</td>
            </tr>
        </table>
        
        <p style="text-align: center; margin-top: 20px;">
            <a href="{% url 'home' %}?class_id={{ student.class_key.id }}">Back to Student List</a>
        </p>
    </div>

    <div class="container table-container">
        <table class ="metrics-table">
            <thead>
                <tr>
                    <th> Date </th>
                    <th> Rating </th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for s in student_perf %}
                    <tr>
                        <td>{{ s.date }}</td>
                        <td>{{ s.get_formatted_rating }}</td>
                        <td><a href = "/student/{{student.pk}}/{{s.pk}}">✏️</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
    {% comment %} 
        Custom graph renderer:
        Takes in a list of a student's ratings and converts it into a chart over time.
        json_script used to safely turn input data into a js readable json array. 
    {% endcomment %}
    <div class="right-align container">
        <div class="metrics_div">
            <canvas id = "metrics_graph"></canvas>
            {{ rating_list | json_script:"rating_data" }}
            <script src="{% static 'coldcall/js/metrics_graph.js' %}"></script>
        </div>
        {% if notes %}
            <div class = "notes_div">
                <div class="container table-container">
                    <table class ="metrics-table">
                        <thead>
                            <tr>
                                <th> Note </th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for n in notes %}
                                <tr>
                                    <td>{{ n.note }}</td>
                                    <td>
                                        <form method="POST" action="{% url 'delete_note' student.pk n.pk %}">
                                            {% csrf_token %}
                                            <button type="submit">🗑️</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    
    </div>
    </div>
    <div class="notes_form container">
        <form method="POST" action="{% url 'add_note' student.pk %}">
            {% csrf_token %}
            <label for="note">Add a note:</label><br>
            <textarea id="note" name="note" rows="4" cols="50"></textarea><br>
            <input type="submit" value="Submit">
    </div>
</body>
</html>