.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    height: 13%;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .nav-item {
    color: white;
    text-decoration: none;
    font-size: 33px;
    font-weight: bold;
    padding: 10px;
    flex: 1;
    float: left;
    text-align: center;
    background-color: #5a0008;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 6%;
    max-width: 41%;
  }
  
  .nav-item.active {
    background-color: #5a0008;
    border-radius: 5px;
  }
  
  .nav-item:hover {
    background-color: #5a0008;
  }
