<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'coldcall/login.css' %}">
    <link rel="stylesheet" href="{% static 'coldcall/style.css' %}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <h1>Login</h1>
    <div class="form-container">
        <form method="post" class="form-group"> 
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Sign up!</a></p>
        <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
    </div>
</body>
</html>