<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'coldcall/style.css' %}">
    <link rel="stylesheet" href="{% static 'coldcall/register.css' %}">
</head>
<body>
    <h1>Sign Up</h1>
    <div class="form-container">
        <form method="post" class="form-group"> 
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
</body>
</html>